	<script type="text/javascript">
		function showCreateGalleryCommentDiv() {
			jQuery('#createGalleryCommentDiv').slideDown("slow");
		}
	</script>
	
	<div id="createGalleryCommentLink">
		<b><a href="javascript:showCreateGalleryCommentDiv()">Comment on this Gallery!</a></b>	
	</div>
	
	<div id="createGalleryCommentDiv" style="display:none">
	<% form_for(GalleryComment.new) do |f| %>
	<table>
		<tr>
			<td>Name:</td>
			<td><%= f.text_field :owner, :size => 46 %></td>
		</tr>
		<tr>
			<td>Title:</td>
			<td><%= f.text_field :title, :size => 46 %></td>
		</tr>
		<tr>
			<td valign="top">Comment:</td>
			<td><%= f.text_area :body, :rows => 4 %></td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.hidden_field :gallery_id , :value => gallery_id %>
	   			<%= f.submit "Create Comment" %>	
			</td>
		</tr>
	</table>
	<% end %>
	</div>